*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea

spec/mozenda.yml
spec/fixtures/mozenda_api
spec/fixtures/test.xml
Images*
*.XML